


.reservation-cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    border: solid;
    border-width: 3px;
    color: teal;
    background-color: white;
    padding: 8px;
}

button {
    background-color: teal;
    color: white;
    border: none;
    width: 70%;
}